<div id="new_user">
  <input id="name_user" name="name" type="text">
  <input id="email_user" name="email" type="text">
  <button id="add_user">Добавить пользователя</button>
  <button id="all_user">Показать пользователей</button>
</div>